.slider-container{
   width:100%;
   height:350px;
}

.carousel-indicators,.carousel-control-btns{
   z-index:3;
}

.carousel-caption{
   width:75% !important;
   height:100% !important;
   margin:auto !important;
   position:absolute;
   top:0;
   left:0;
   z-index:2;
   right:0;
   bottom:0;
   padding:10px !important;
   color: #fff;
   text-align:left !important;
}

@media screen and (min-width:992px) {
   .carousel-caption h5{
      font-size:2.5em;
   }
   .carousel-caption p{
      font-size:1.3em;
   }
}

.slide-bg{
   width:100%;
   height:350px;
   background-position: 50% 50%;
   background-size: cover;
}

.slide-bg::after{
   content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    background: #20A4E6;
    background-image: -webkit-linear-gradient(left,#20A4E6,#17E6C3);
    background-image: linear-gradient(to right,#20A4E6,#17E6C3);
}

.slide-bg-1{
   background-image:url("/assets/img/slide-bg-1.jpg");
}

.slide-bg-2{
   background-image:url("/assets/img/slide-bg-2.jpeg");
}

.slide-bg-3{
   background-image:url("/assets/img/slide-bg-3.jpg");
}

.post-container .card .card-title a{
   color:black;
   text-decoration: none;
}

.post-container .card .card-title a:hover{
   color:blue;
   text-decoration:underline;
}

.footer a{
   color:black;
   text-decoration: none;
}

.footer a:hover{
   color:blue;
   text-decoration:underline;
}